In [1]:
# Import the dependencies

import pandas as pd
import gmaps
import requests

# Import the API key

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaitangata,NZ,2022-07-10 23:55:46,-46.2817,169.8464,45.55,68,53,10.94
1,1,Hobart,AU,2022-07-10 23:55:46,-42.8794,147.3294,53.26,74,75,14.97
2,2,Richards Bay,ZA,2022-07-10 23:55:46,-28.7830,32.0377,62.82,47,0,5.17
3,3,Mogadishu,SO,2022-07-10 23:55:47,2.0371,45.3438,75.40,83,49,18.45
4,4,Port Elizabeth,ZA,2022-07-10 23:55:47,-33.9180,25.5701,55.69,88,75,12.66

In [3]:
# Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key

gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature

max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature

max_temp = city_data_df["Max Temp"]

# Assign the figure variable

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed 

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Mogadishu,SO,2022-07-10 23:55:47,2.0371,45.3438,75.40,83,49,18.45
10,10,Shingu,JP,2022-07-10 23:55:50,33.7333,135.9833,81.63,77,43,3.44
21,21,Tutoia,BR,2022-07-10 23:55:54,-2.7619,-42.2744,77.54,86,43,6.08
22,22,Butaritari,KI,2022-07-10 23:55:54,3.0707,172.7902,82.27,79,19,17.67
26,26,Bud,US,2022-07-10 23:55:55,39.4470,-86.1758,85.42,70,0,4.34
30,30,Atuona,PF,2022-07-10 23:55:57,-9.8000,-139.0333,77.13,79,38,16.22
31,31,Bairiki,KI,2022-07-10 23:55:57,1.3292,172.9752,80.60,89,75,12.66
38,38,Katsuura,JP,2022-07-10 23:56:00,35.1333,140.3000,79.07,80,4,6.46
40,40,Gorontalo,ID,2022-07-10 23:56:01,0.5412,123.0595,77.18,89,100,2.89
41,41,Griffith,US,2022-07-10 23:56:01,41.5284,-87.4237,83.05,51,0,4.61

In [18]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3    Mogadishu      SO     75.40   2.0371   45.3438
10      Shingu      JP     81.63  33.7333  135.9833
21      Tutoia      BR     77.54  -2.7619  -42.2744
22  Butaritari      KI     82.27   3.0707  172.7902
26         Bud      US     85.42  39.4470  -86.1758
30      Atuona      PF     77.13  -9.8000 -139.0333
31     Bairiki      KI     80.60   1.3292  172.9752
38    Katsuura      JP     79.07  35.1333  140.3000
40   Gorontalo      ID     77.18   0.5412  123.0595
41    Griffith      US     83.05  41.5284  -87.4237

In [41]:
# Set parameters to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    
    hotels = requests.get(base_url, params=params).json()
    
  # Grab the first hotel from the results and store the name

    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))