## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup

import pandas as pd
import requests
import gmaps

# Import API key

from config import g_key

# Configure gmaps

gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame

vacation_df = pd.read_csv("Vacation_Search.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,souillac,MU,70.18,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
1,2,high rock,BS,84.22,clear sky,26.6208,-78.2833,Hideaway Bahamas Beach Club
2,3,avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
3,4,tha chang,TH,80.24,moderate rain,9.2642,99.1922,สุริยาค้าไม้
4,5,jamestown,US,76.64,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame

locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'callaway']
vacation_end = vacation_df.loc[vacation_df['City'] == 'callaway']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'sylacauga']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'russell'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'liberty'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,105,liberty,US,76.26,light rain,31.8335,-81.5004,Sasser’s Mobile Home Park

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing

start = vacation_start.iloc[0,5:36].to_numpy()
end = vacation_end.iloc[0,5:36].to_numpy()
stop1 = vacation_stop1.iloc[0,5:36].to_numpy()
stop2 = vacation_stop2.iloc[0,5:36].to_numpy()
stop3 = vacation_stop3.iloc[0,5:36].to_numpy()

start

array([30.153, -85.5699,
       'Holiday Inn Express & Suites Panama City-Tyndall, an IHG Hotel'],
      dtype=object)

In [7]:
# Desired travel method

#travel = str(input("How would you like to travel? (driving/bicycling/walking) "))
#travel = travel.upper()

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING"

fig = gmaps.figure(center=(30, -85), zoom_level = 5)
callaway = start
sylacauga = stop1
russell = stop2
liberty = stop3 
roadtrip = gmaps.directions_layer == (30.153, -85.5699, 30.153, -85.5699) 
waypoints=[33.1732, -86.2516, 32.3502, -85.1999, 31.8335, -81.5004],
travel_mode="DRIVING"

In [11]:
# 8. To create a marker layer map between the four cities
#  Combine the four city DataFrames into one DataFrame using the concat() function

itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,177,callaway,US,77.05,moderate rain,30.1530,-85.5699,Holiday Inn Express & Suites Panama City-Tynda...
1,439,sylacauga,US,81.77,overcast clouds,33.1732,-86.2516,"Holiday Inn Express & Suites Sylacauga, an IHG..."
2,532,russell,US,79.83,overcast clouds,32.3502,-85.1999,Macs
3,105,liberty,US,76.26,light rain,31.8335,-81.5004,Sasser’s Mobile Home Park

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame

locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map

fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))